# tags #
tags

# tmp file #
*.swp

# custom #
data/*
src/libsvm/*
!src/libsvm/python/
src/libsvm/python/SVMmodel/*
src/libsvm/python/transformModel/*
tmp_data/*
glove/*
output/*
origin_data/*
misc_data/*
auto_encoder/*
temp/*
treelstm/{lib,trained_models,data,predictions}

*.npz
*.in
*.lab
__pycache__/
*.json
*.hdf5
*.pkl
*.npy
*pred*
