data/*
tmp_data/*
src/subtask1/Slot1/data
*.swp
A_2015.jar
glove/*
output/*
origin_data/*
lapt/*
rest/*
misc_data/*
auto_encoder/*
util/auto_encoder/*
*.embed
*.embed4000
*.encode
size/*
trash/*
temp/*
*.npz
*.in
*.lab
treelstm/lib
treelstm/trained_models
treelstm/data
treelstm/predictions
__pycache__/
*.json
*.hdf5
*.pkl
*.npy
*pred*
